html {
  scroll-behavior: smooth;
}
.cba {
	color: #fff;
}
.cba:hover {
	color: #db5246;
}

.copyright_bar{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 100px;

}
.social-icon {
    color: #fff;
    margin-left:15px;
    margin-right:15px;
    font-size: 30px;

}

.social-icon:hover {
    color: #db5246;
}

@media (max-width: 576px) {
    .copyright_bar{
       flex-direction: column-reverse;
       margin-top: 100px;
       align-items: center;
    }
    .social-icon {
    font-size: 25px;
    margin-right: 10px;
    }
}

.scrollTop {
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.menu_nav ul li .ra {
  color:#DE4F32 !important;
}

.gwrapper {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 575px){
.gwrapper {
    padding-left: 15px;
    padding-right: 15px;
}}

.download-resume {
  font-size: 18px !important;
	color: #333232 !important;
	text-transform: none !important;
}

.dw-res {
  position: relative;
  width: auto;
  height: 43px;
  border-radius: 0;
  background: #de4f32;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none !important;
  color: #fff;
  padding: 0 12px;
}
.pos {
  margin-left: auto;
  /* font-family: 'Futura', sans-serif !important;*/
	font-size: 16px !important; 
	color: rgba(255,255,255,0.5) !important;
	line-height: 38px;
	outline: none !important;
}




.border {
  border: 7px solid rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  padding-top: 30px;
  position: relative;
}

.sub-heading {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  position: absolute;
  bottom: -40px;
  background-color: #021b39;
  padding: 0 20px 0 20px;
}

.base {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0 3px 35px 0 black;
  z-index: 2;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base:hover {
  cursor: auto;
}

.hidden-childs {
  height: 65px;
  width: 65px;
  overflow: hidden;
  margin: 0 10px;
  background-color: #1b1a25;
  border-radius: 50%;
  box-shadow: 0 3px 35px 0 #1b1a25;
  height: 0px;
  width: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: black;
  transition: all 300ms ease-in-out;
}

.base-wrapper {
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 40px;
}


.base-wrapper:hover {
  cursor: pointer;
  border-radius: 500px;
  width: auto;
}

.base-wrapper:hover .hidden-childs {
  height: 65px;
  width: 65px;
  margin: 0 10px;
}

.hc-1 {
  box-shadow: 0 3px 35px 0 black;
  transition-delay: 50ms;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.hc-2 {
  box-shadow: 0 3px 35px 0 black;
  transition-delay: 100ms;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.hc-3 {
  box-shadow: 0 3px 35px 0 black;
  transition-delay: 150ms;
  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); 
}

.hc-4 {
  box-shadow: 0 3px 35px 0 black;
  transition-delay: 200ms;
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}

.base-wrapper:hover .hc-1 {
  transition-delay: 50ms;
}

.base-wrapper:hover .hc-2 {
  transition-delay: 100ms;
}

.base-wrapper:hover .hc-3 {
  transition-delay: 150ms;
}

.base-wrapper:hover .hc-4 {
  transition-delay: 200ms;
}

/* media queries */

@media screen and (max-width: 500px) {
  
  .base-wrapper {
    left: 10px;
    bottom: 10px;
  }
  
  .base-wrapper:hover .hidden-childs {
    height: 45px;
    width: 45px;
    margin: 0 10px;
    font-size: 20px;
  }
    
  .base {
    height: 45px;
    width: 45px;
    margin: 0 10px;
    font-size: 20px;
  }
  
  .heading {
    font-size: 40px;
  }
  
  .sub-heading {
    font-size: 18px;
    padding-bottom: 4px;
  }
  
}

#app {
  position: fixed;
  right: 150px;
  bottom: 50px;
  width: 0;
  height: 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
#app nav {
  position: relative;
  width: 100%;
  height: 50px;
  
}
#app nav .action .btn.share {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f56263;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}
/* #app nav .action .btn.share::before, #app nav .action .btn.share::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  background: rgba(252, 21, 22, 0.35);
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transform: scale(2);
  opacity: 0;
  transition: all 200ms cubic-bezier(0.32, 0.4, 0.55, 1.27);
  pointer-events: none;
} */
/* #app nav .action .btn.share::after {
  transition: all 450ms cubic-bezier(0.32, 0.4, 0.55, 1.27);
}
#app nav .action .btn.share:active::before, #app nav .action .btn.share:active::after {
  transform: scale(0.95);
  opacity: 0.85;
} */
#app nav .action .actions {
  position: absolute;
  right: -25px;
  top: -25px;
  height: 50px;
  width: 50px;
  background: #db5246;
  border-radius: 50px;
  z-index: 1;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
  box-shadow: 0 2px 6px rgba(252, 21, 22, 0.45);
  overflow: hidden;
  pointer-events: none;
}
#app nav .action .actions.active {
  width: 240px;
  display: flex;
    flex-direction: row;
}



button:active .icon {
  transform: scale(0.8) translate(-58%, -58%);
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.sa {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
}
.sa:hover {
  background-color: red;
}