html {
  scroll-behavior: smooth;
}
.cba {
	color: #fff;
}
.cba:hover {
	color: #db5246;
}

.copyright_bar{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 100px;

}
.social-icon {
    color: #fff;
    margin-left:15px;
    margin-right:15px;
    font-size: 30px;

}

.social-icon:hover {
    color: #db5246;
}

@media (max-width: 576px) {
    .copyright_bar{
       flex-direction: column-reverse;
       margin-top: 100px;
       align-items: center;
    }
    .social-icon {
    font-size: 25px;
    margin-right: 10px;
    }
}
.live-chat {
    background-color: #fff;
    color: #000;
    padding: 1px 8px;
    border-radius: 2px;
    font-weight: bold;
}

.live-chat:hover {
    background-color: #DE4F32;
    color: #fff;
    font-weight: bold;

}

.circular-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 999;
  }
  
  .circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #db5246;
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
  }
  
  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
  }
  
  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
    transform: rotate(0deg);
  }
  
  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: #DE4F32;
    transition: all .3s ease;
  }
  
  .circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
  
  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }
  
  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
    transition: transform .3s ease, background .2s ease;
  }
  
  .circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
  }
  
  /**
   * The other theme for this menu
   */
  
  .circular-menu.circular-menu-left {
    right: auto; 
    left: 1em;
  }
  
  .circular-menu.circular-menu-left .floating-btn {
    background-color: hsl(217, 89%, 61%);
  }
  
  .circular-menu.circular-menu-left:after {
    background-color: hsl(217, 89%, 61%);
  }
  
  .circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em,-7em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em,-6.3em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em,-3.2em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em,1em,0);
  }
  /* #circularMenu {
    visibility:hidden;
    position:fixed;
    transition: ease-in .3s;
} */

.scrollTop {
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.menu_nav ul li .ra {
  color:#DE4F32 !important;
}

.gwrapper {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 575px){
.gwrapper {
    padding-left: 15px;
    padding-right: 15px;
}}

.download-resume {
  font-size: 18px !important;
	color: #333232 !important;
	text-transform: none !important;
}

.dw-res {
  position: relative;
  width: auto;
  height: 43px;
  border-radius: 0;
  background: #de4f32;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none !important;
  color: #fff;
  padding: 0 12px;
}
.pos {
  margin-left: auto;
  /* font-family: 'Futura', sans-serif !important;*/
	font-size: 16px !important; 
	color: rgba(255,255,255,0.5) !important;
	line-height: 38px;
	outline: none !important;
}




.border {
  border: 7px solid rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  padding-top: 30px;
  position: relative;
}
x

.sub-heading {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  position: absolute;
  bottom: -40px;
  background-color: #021b39;
  padding: 0 20px 0 20px;
}

.base {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0 3px 35px 0 black;
  z-index: 2;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base:hover {
  cursor: auto;
}

.hidden-childs {
  height: 65px;
  width: 65px;
  overflow: hidden;
  margin: 0 10px;
  background-color: #1b1a25;
  border-radius: 50%;
  box-shadow: 0 3px 35px 0 #1b1a25;
  height: 0px;
  width: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: black;
  transition: all 300ms ease-in-out;
}

.base-wrapper {
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 40px;
}


.base-wrapper:hover {
  cursor: pointer;
  border-radius: 500px;
  width: auto;
}

.base-wrapper:hover .hidden-childs {
  height: 65px;
  width: 65px;
  margin: 0 10px;
}

.hc-1 {
  box-shadow: 0 3px 35px 0 black;
  transition-delay: 50ms;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.hc-2 {
  box-shadow: 0 3px 35px 0 black;
  transition-delay: 100ms;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.hc-3 {
  box-shadow: 0 3px 35px 0 black;
  transition-delay: 150ms;
  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); 
}

.hc-4 {
  box-shadow: 0 3px 35px 0 black;
  transition-delay: 200ms;
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}

.base-wrapper:hover .hc-1 {
  transition-delay: 50ms;
}

.base-wrapper:hover .hc-2 {
  transition-delay: 100ms;
}

.base-wrapper:hover .hc-3 {
  transition-delay: 150ms;
}

.base-wrapper:hover .hc-4 {
  transition-delay: 200ms;
}

/* media queries */

@media screen and (max-width: 500px) {
  
  .base-wrapper {
    left: 10px;
    bottom: 10px;
  }
  
  .base-wrapper:hover .hidden-childs {
    height: 45px;
    width: 45px;
    margin: 0 10px;
    font-size: 20px;
  }
    
  .base {
    height: 45px;
    width: 45px;
    margin: 0 10px;
    font-size: 20px;
  }
  
  .heading {
    font-size: 40px;
  }
  
  .sub-heading {
    font-size: 18px;
    padding-bottom: 4px;
  }
  
}
